<!DOCTYPE html>
<html>
  <head>
    <title>Toggle Runner</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script src="toggle-runner.js"></script>
  </head>

  <body>
    <% if (isSpaceModeEnabled) { %>
    <header>
      <h1>Toggle Runner</h1>
    </header>
    <% } %>

    <div class="interstitial-wrapper"></div>

    <div id="resources">
      <img
        id="resources-1x"
        src="images/100-percent/100-sprite<%= isSpaceModeEnabled ? '-space' : '' %>.png"
      />
      <img
        id="resources-2x"
        src="images/200-percent/200-sprite<%= isSpaceModeEnabled ? '-space' : '' %>.png"
      />
      <div id="audio-resources">
        <audio id="sound-press" src="sounds/button-press.mp3"></audio>
        <audio id="sound-hit" src="sounds/hit.mp3"></audio>
        <audio id="sound-reached" src="sounds/score-reached.mp3"></audio>
      </div>
    </div>
    <script src="client.js"></script>
  </body>
</html>
