body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  color: #555;
}

header {
  text-align: center;
  margin-bottom: 3em;
}

.interstitial-wrapper {
  width: 600px;
  height: 150px;
}

#resources {
  display: none;
}
